
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*shared style*/
.primary-bnt{
    color:#FFFFFF;
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    font-weight:600px;
    font-size: 16px;
    border: none;
}


/* main part style */


.main-part{
    margin-left:150px;
    margin-right:150px;
}

/* navbar styles */

.nav-head{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 71px;
    margin-top: 30px;
}
.list{
    display: flex;
    list-style: none;
    gap: 15px;

}
.list-hm{
    color:rgba(37, 36, 50, 1);
    font-weight: bold;
}
.list-sp{
    color:#8987A1;
}
.list-about{
    color:#8987A1;
}
.list-cart{
    color:#000000;
}


/* Banner styles */

.banner{
    display: flex;
    text-align: center;
    margin-top: 120px;

    
    
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    width: 570px;
    height: 150px;

}

.banner-text{
    text-align:left;
    

}

.title-cl{
    color:#E95A08;
}


.banner-para{
    width:570px;
    height: 108px;
    font-size: 22px;
    font-weight: 300;
    color:#000000;
    padding-top: 13px;

    
}

.banner-image{
    width: 570px;
    height: 355px;
}

/* plants section style */



.plants{
    text-align: center;
    width: 888px;
    height: 138px;
    margin-top: 150px;
    margin-left: 120px;
    
    
}
.sec-plants-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.sec-plants-des{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    padding-bottom: 49px;
    text-align: center;

}

.plants-color{
    color:rgba(233, 90, 8, 1);
}

/* Article-sec/card styles */

.Article-sec{
    width: 1140px;
    height: 1186.88px;
}

.card-container{
    display: grid;
  grid-template-columns:repeat(4,1fr) ;

}
.card{
    width: 150px;
    height: 484.94px;
    margin-top: 49px;
}
.container{
    text-align: center;
}
.container-para{
    font-size: 22px;
    font-weight: 500;
}
.container-usd{
    font-weight: bold;
    font-size: 22px;
}

/*plants-lover-section style*/


.plants-lover{
    display: flex;
    width: 1140px;
    height: 597px;
    margin-top: 210.12px;
}


.plants-lover-img{
    display: 50%;
    width: 540px;
}
.plants-lover-title{
    height: 100px;
    font-size: 50px;
    font-weight: bold;
}
.plants-lover-list{
    font-size: 22px;
    font-weight: 500px;
    height: 108px;
    color: rgba(0, 0, 0, 0.5);
}
.plants-lover-container{
    width: 540px;
    height: 521px;
    margin-right: 0px;
    margin-left: auto;
    margin-top: 38px;
    margin-bottom: 38px;

}
